@model Vidly.Models.Customer

@{
    ViewBag.Title = "title";

}

<h2>@Model.Name</h2>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (@Model.BirthDay.HasValue)
    {
        <li>Birth Day: @Model.BirthDay.Value.ToShortDateString()</li>
    }
</ul>

